<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center;">Dynamic Components in Angular</h2>
    </div>
    <div class="col-md-7" style="border: 1px solid gray; height: 500px; padding: 10px;">
      <div style="float:left; margin-bottom:5px;" id="dynamicContainer">
        <button type="button" (click)="addNewSkills()" width="20" height="20" class="btn btn-primary" style=" margin-left:10px;"
          title="Add New Skills">Add New Skills</button>

        <!--Create container for Dynamic Components -->
        <div #dynamicContainer></div>

        <button type="button" (click)="saveSkills()" *ngIf="embeddedViews>0" width="20" height="20" class="btn btn-primary" style=" margin-left:10px;"
          title="Save Skills">Save Skills</button>
      </div>
    </div>
    <div class="col-md-5" style="border: 1px solid gray; height: 500px;">
      <h3>Skills Rating By User</h3>
      <span id="addedSkills"></span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>